#main-container {
  display: flex;
  flex-direction: row;
}

#editor,
#preview {
  width: 50vw;
  height: 100vh;
  margin: 10px 10px 10px 10px;
}

pre {
  margin: 10px 10px 10px 10px;
  background-color: rgb(233, 238, 243);
  padding: 10px 10px 10px 10px;
}

img {
  width: 110px;
}

@media (max-width: 700px) {
  #main-container {
    flex-direction: column;
  }

  #editor,
  #preview {
    width: 100vw;
    height: 50vh;
    margin: 10px 10px 10px 10px;
  }
}
